{% extends "artisan_base.html" %}
{% block content %}
{% load static %}

<div class="container py-4">
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">

            <h4>Profile Management</h4>

            <button class="btn btn-primary" onclick="enableEdit()" id="editBtn">
                Edit Profile
            </button>


        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data" action="">

                {% csrf_token %}

             <div class="col-md-4 text-center">

    <!-- Profile Image -->
    <img 
    id="profilePreview"
    src="{% if artisan.profile_image %}{{ artisan.profile_image.url }}{% else %}{% static 'images/user.png' %}{% endif %}"
    class="img-fluid rounded-circle mb-3"
    width="150"
    style="height:150px; object-fit:cover;"
    alt="Profile Image">

    <!-- File Upload -->
    <input type="file" name="profile_image" class="form-control mt-2" onchange="previewImage(event)">

</div>

                <div class="col-md-8">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" value="{{ artisan.name }}" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" value="{{ artisan.email }}" disabled>

                        </div>

                        <div class="col-md-6">
                            <label>Phone</label>
                            <input type="text" name="phone" class="form-control" value="{{ artisan.phone }}" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>Shop Name</label>
                            <input type="text" name="shop_name" class="form-control" value="{{ artisan.shop_name }}"
                                disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="">City</label>
                            <input type="text" name="city" class="form-control" value="{{ artisan.city }}" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="">State</label>
                            <input type="text" name="state" class="form-control" value="{{ artisan.state }}" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="">Pincode</label>
                            <input type="text" name="pincode" class="form-control" value="{{ artisan.pincode }}"
                                disabled>

                        </div>

                        <div class="col-md-12">
                            <label>Address</label>
                            <textarea name="address" class="form-control" disabled>{{ artisan.address }}</textarea>
                        </div>

                        <div class="col-md-12">
                            <label>Bio</label>
                            <textarea name="bio" class="form-control" disabled>{{ artisan.bio }}</textarea>
                        </div>

                        <div class="col-md-6">
                            <label>Bank Account</label>
                            <input type="text" name="bank_account_number" class="form-control"
                                value="{{ artisan.bank_account_number }}" disabled>
                        </div>

                        <div class="col-md-6">
                            <label>IFSC Code</label>
                            <input type="text" name="ifsc_code" class="form-control" value="{{ artisan.ifsc_code }}"
                                disabled>
                        </div>
                    </div>
                </div>

                <div class="mt-4 text-end">
                    <button type="submit" class="btn btn-success d-none" id="saveBtn" >Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

function enableEdit(){

let inputs = document.querySelectorAll("input, textarea")

inputs.forEach(function(input){
input.disabled = false
})

document.getElementById("saveBtn").classList.remove("d-none")
document.getElementById("editBtn").classList.add("d-none")

}

<!-- profile-->

function previewImage(event)
{
    let reader = new FileReader();

    reader.onload = function(){
        document.getElementById("profilePreview").src = reader.result;
    }

    reader.readAsDataURL(event.target.files[0]);
}

</script>
{% endblock %}