{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

<body>

    <div class="container my-5  p-2 rounded-5 overflow-hidden shadow-lg">
        <div class="row g-0 d-flex align-items-stretch">

            <!--Left side-->

            <div class="col-lg-8 p-5 rounded-start-5" style="background-color: #e6dac8;">
                <div class="d-flex justify-content-between align-items-center w-100">
                <h2 class="fw-bold">Shopping Cart</h2>
                <span class="text-muted">2 items </span>
                </div>
                <hr>
                <div class="row align-items-center mb-4">


                    <div class="col-md-2">
                        <img src="{% static 'images/about_us.jpg' %}" alt="" class="img-fluid rounded ">
                    </div>

                    <div class="col-md-4">
                        <h6>vrfvdvg</h6>
                        <small class="text-muted">vrtfrvg</small>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <button class="btn btn-outline-secondary">-</button>
                            <input type="text" class="form-control text-center fw-bold" style="background-color: #e6dac8;" value="1">
                            <button class="btn btn-outline-secondary">+</button>
                        </div>
                    </div>


                    <div class="col-md-2 text-end">
                        <strong>1200</strong>
                    </div>

                    <div class="col-md-1 text-end">
                        <button class="btn btn-sm btn-outline-danger">x</button>
                    </div>

                </div>

                <hr>
                <a href="" class="text-decoration-none"> ← back to shop</a>
            </div>


            <!---Summary-->

            
                <div class="col-lg-4 border-0 p-5  rounded-end-5 "style="background-color: #f4eee6;">
                    <h5>Summary</h5>

                    <hr>

                    <div class="d-flex justify-content-between mb-2">
                        <span>item 3</span>
                        <span>3600</span>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">shipping</label>
                        <select class="form-select" name="" id="">
                            <option value="" disabled selected>Choose delivery option</option>
                            <option value="">Standard Delivery - ₹100</option>
                            <option value="">Express delivery - ₹200</option>
                        </select>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between mb-3">
                        <strong>Total Price</strong>
                        <strong>3700</strong>
                    </div>

                    <button class="btn btn-dark w-100 rounded-3">
                        CHECKOUT
                    </button>
                </div>
            </div>


        

    </div>
    <!-- </div> -->


</body>

</html>