{% extends "artisan_base.html" %}

{% block content %}

<h3>Edit Product</h3>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="mb-3">
<label>Product Name</label>
<input type="text" name="product_name" value="{{ product.Product_name }}" class="form-control">
</div>

<div class="mb-3">
<label>Actual Price</label>
<input type="number" name="actual_price" value="{{ product.Actual_price }}" class="form-control">
</div>

<div class="mb-3">
<label>Offer Price</label>
<input type="number" name="offer_price" value="{{ product.Offer_price }}" class="form-control">
</div>

<div class="mb-3">
<label>Quantity</label>
<input type="number" name="quantity" value="{{ product.Quantity }}" class="form-control">
</div>

<div class="mb-3">
<label>Description</label>
<textarea name="description" class="form-control">{{ product.Description }}</textarea>
</div>

<div class="mb-3">
<label>Product Image</label>
<input type="file" name="product_image" class="form-control">
</div>

<button class="btn btn-primary">Update Product</button>

</form>

{% endblock %}