{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">





</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar sticky-top  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" alt="Logo" width="80" height="84"
          class="d-inline-block align-text-center">
        Craftoria
      </a>
      <form class="d-flex flex-grow-1 mx-3" role="search">
        <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

        <ul class="navbar-nav ms-auto align-items-center gap-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <i class="fa-regular fa-house"></i>
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-bag-shopping "></i>
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-store"></i>
              </a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                  </a>


                  <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Order</a></li>
                      <li><a class="dropdown-item" href="#">Wishlist</a></li>
                      <li><a class="dropdown-item" href="{% url 'about_Us' %}">About Us</a></li>
                      <li><a class="dropdown-item" href="#">Contact</a></li>
                  </ul>

                </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg bg-white border-top border-bottom">
    <div class="container-fluid">
      <ul class="navbar-nav">


        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Pottery & Clay Items
          </a>

          <div class="dropdown-menu border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">Clay pots</a>
            <a class="dropdown-item" href="#">Ceramic mugs</a>
            <a class="dropdown-item" href="#">Handmade plates</a>
            <a class="dropdown-item" href="#">Decorative vases</a>



        </li>



        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Handloom & Textile
          </a>

          <div class="dropdown-menu  border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">Handloom sarees</a>
            <a class="dropdown-item" href="#">Shawls</a>
            <a class="dropdown-item" href="#">Scarves</a>
            <a class="dropdown-item" href="#">Cushion cover</a>


        </li>


        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            wooden Crafts
          </a>

          <div class="dropdown-menu  border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">Wooden toys</a>
            <a class="dropdown-item" href="#">Wall decor</a>
            <a class="dropdown-item" href="#">Jewelry boxes</a>
            <a class="dropdown-item" href="#">Key holders</a>



        </li>


        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Handmade Jewelry
          </a>

          <div class="dropdown-menu  border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">Beaded necklaces</a>
            <a class="dropdown-item" href="#">Earrings</a>
            <a class="dropdown-item" href="#">Bangles</a>
            <a class="dropdown-item" href="#">Anklets</a>



        </li>


        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Painting & Artwork
          </a>

          <div class="dropdown-menu  border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">canvas paintings</a>
            <a class="dropdown-item" href="#">Wall art</a>
            <a class="dropdown-item" href="#">Traditional paintings</a>
            <a class="dropdown-item" href="#">Handmade greeting cards</a>



        </li>

        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Bamboo & Natural Fiber
          </a>

          <div class="dropdown-menu  border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">Bambo baskets</a>
            <a class="dropdown-item" href="#">Cane chairs</a>
            <a class="dropdown-item" href="#">Mats</a>
            <a class="dropdown-item" href="#">Eco-friendly decor</a>



        </li>



        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Home & Lifestyle
          </a>

          <div class="dropdown-menu border-0 shadow-lg mt-0">


            <a class="dropdown-item" href="#">Scented candles</a>
            <a class="dropdown-item" href="#">Handmade soaps</a>
            <a class="dropdown-item" href="#">Photo frames</a>
            <a class="dropdown-item" href="#">Macrame wall hangings</a>



        </li>

      </ul>

    </div>
  </nav>

  <div style="margin-top:100px;"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>