{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'css/return_refund.css' %}">

</head>
<body>
    <div class="container my-5">
        <h2 class="text-center mb-5 fw-bold">Return  & Refund Policy</h2>
        <p class="fs-5 text-center">At Atrisan Store, each product is handcrafted with care by skilled local artisana. We want you to love purchase. If you are not satisfied, please review our return policy below</p>

            <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. Return Eligibilty
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ol>
            <li>The product is damaged during delivery</li>
            <li>You received the wrong item</li>
            <li>The item has a manufacturing defect</li>
        </ol>
    </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         2.  Non-Returnable Items
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ol>
            <li>Custom-made or personalized products</li>
            <li>Used or damaged items (not caused by shipping)</li>
            <li>Products returned without original packaging</li>
        </ol>
    </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3. Return Process
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <ol>
                <li>Contact us at support@artisanstore.com</li>
                <li>Provide your Order ID and product images (if damaged)</li>
                <li>Our team will review and respond within 24-48 hours</li>
                <li>If approved, we will arrange pickup or provide return instructions</li>
            </ol>
    </div>
    </div>
  </div>


   <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
        4. Refund Policy
      </button>
    </h2>
    <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <ol>
                <li>Refunds are processed after the returned item is inspected.</li>
                <li>Refunds will be credited within 5-7 business days.</li>
                <li>For Cash on Delivery orders, refunds will be processed via bank transfer or UPI.</li>
              
            </ol>
    </div>
    </div>
  </div>


  

   <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
        5. Shipping Charges
      </button>
    </h2>
    <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <ol>
                <li>If the return is due to our mistake (wrong/damaged product), we cover the shipping cost.</li>
                <li>If returning for personal reasons, return shipping charges may apply.</li>
              
            </ol>
    </div>
    </div>
  </div>


    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
       6. Contact Us
      </button>
    </h2>
    <div id="collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
           <p><span class="fw-semibold">Email</span>: support@artisanstore.com</p>
           <p><span class="fw-semibold">Phone</span>: +91 12345 67890</p>
    </div>
    </div>
  </div>

</div>
    </div>
</body>
</html>