{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/shipping_info.css' %}">

</head>

<body>
    <div class="container my-5">
        <h2 class="text-center mb-5 fw-bold">Shipping Information</h2>
        <p>At Artisan Store, we aim to deliver your handcrafted products to you as quickly and safely as possible. Below
            are our shipping details</p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button fs-4 fw-semibold " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1. Shipping Time
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Orders are processed within 1-2 business days.</li>
                            <li>Delivery typically takes 3-7 business days depending on your location.</li>
                            <li>You will receive a confirmation email once your order is shipped.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2. Shipping Charges
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Free shipping on orders above ₹500.</li>
                            <li>A flat shipping charge of ₹40 applies to orders below ₹500.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Order Tracking
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Once your order is shipped, we will send you a tracking number and tracking link via
                                email or SMS.</li>
                            <li>You can track your order status in real time.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        4. Shipping Locations

                    </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>We currently ship across India.</li>
                            <li>International shipping is not available at this time.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        5. Damaged or Missing Items
                    </button>
                </h2>
                <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Please contact us within 48 hours of delivery.</li>
                            <li>Email us at: support@artisanstore.com</li>
                            <li>Attach clear photos of the damaged item and packaging.</li>
                        </ol>
                        Our team will assist you as quickly as possible.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>