body{
    background-color:blanchedalmond
}

.accordion-body {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade-in{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 3s ease forwards;
}

@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
